doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheet/style.css')
  body
    block content
    script(src='/javascript/jquery/jquery.min.js')
    script(src='/javascript/home.js')
