extends layout

block content
    h1= title
    p DashBoard

    // Wrapper
    #wrapper

        // Task LIST
        h2 Task
        #taskList
            table(class="display",id="tasklist",cellspacing="0",width="100%")
                thead
                  tr
                    th(width="2%") Something
                    th(width="30%") Name
                    th(width="25%") Date
                    th(width="25%") Status
                tbody
        // /Task LIST



    // /WRAPPER
