extends layout

block content
    h1= title
    p DashBoard

    // Wrapper
    #wrapper

        // Task LIST
        h2 Task
        #taskList
            table
                thead
                    th Name
                    th Date
                    th Status
                tbody
        // /Task LIST

    // /WRAPPER